#all-posts{
    margin:7rem auto;
    width: 90%;
    max-width: 75rem;
}

.post{
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: wheat;
    border-radius: 18px;
}
/* .post{
    background-color: wheat;
    border-radius: 18px;
    min-height : 4rem;
} */

#post-container{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    gap:1.5rem;
    
}

.post a{
    height: 18rem;
    transform-origin:center ;
    
    /* box-shadow: 0 2px 8px rgb(0,0,0,0.4); */
    border-radius: 12px;
    background-color: wheat;
}

.post p{
    margin-top: -10px;
    margin-left: 3rem;
}